*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5;
}
body{
    width: 100vw;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

/* Nav */
.nav-container{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem 1rem 0rem 70rem;
}
.img-nav{
    width: 2rem;
    height: 2rem;
}
.hover-img{
    border-radius: 100%;
    width: 2.3rem;
    height: 2.3rem;
    display: flex;
    align-items: center;
}
.img-boton-de-apps{
    width: .8rem;
    height: .8rem;
    text-align: center;
    margin: 0 auto;
}
.img-user{
    width: 2rem;
    height:2rem;
    border-radius: 100%;
    padding: 2%;
    text-align: center;
    margin: 0 auto;
}
.hover-img:hover {
    background: #9c9c9c34;
}
.nav-container a{
    color:rgba(0,0,0,0.87) ; 
    text-decoration: none;
    font-size: .86rem;
}
.nav-container a:hover{
    text-decoration: underline;
}
/* Main */
.main-container{
    width: 35rem;
    margin: 10% auto;
    text-align: center;
}
.img-main{
    width: 1.2rem;
    height: 1.2rem;
    margin: 0 1rem;  
}
.main-container .buscador{
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: .1rem solid rgba(0, 0, 0, 0.13);
    border-radius: 2rem;
}
.input{
    border: none;
    width: 90%;
    height: 100%;
    text-align: center ;
}
.google{
    margin: 2rem;
}
/* footer */
.footer-container{
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    border-top: #70757a59 .05rem solid;
    background: #f2f2f2;
}
.firt{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.firt a{
    display: inline-block;
    font-size: .9rem;
    color: #70757a;
    text-decoration: none;
}
.firt a:hover{
    text-decoration: underline;
}
.two{
    width: 20%;
}
.colombia{
    padding: .3rem;
    text-align: center;
    bottom: 4rem;
    border-top: none;

    color: #70757a;

}
.colombia p{
    padding: 1rem ;
    font-size: 1rem;
}